@font-face {
  font-family: "PlusJakartaSansExtraBold";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/PlusJakartaSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-ExtraBold.woff") format("woff"),
    url("../fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "PlusJakartaSansBold";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Bold.woff") format("woff"),
    url("../fonts/PlusJakartaSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PlusJakartaSansMedium";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Medium.woff") format("woff"),
    url("../fonts/PlusJakartaSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PlusJakartaSansRegular";
  font-style: normal;
  font-weight: 500;
  src:
    url("../fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("../fonts/PlusJakartaSans-Regular.woff") format("woff"),
    url("../fonts/PlusJakartaSans-Regular.ttf") format("truetype");
}